In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv("190604-0630_007.csv", low_memory=False)

In [2]:
len(df)

6858383

In [1]:
df.columns = ['sp_id','card_physical_id','card_txn_type_id',
              'card_txn_subtype_id','fare_product_type_id','txn_timestamp',
              'entry_zone','zone_no','line_no','bus_no',
              'txn_amt','xfer_code','xfer_disc','area_code',
              'none','SrcUpdateTime','UpdateTime','InfoTime','InfoDate']
#給定欄位名稱

,Unnamed: 0,card_txn_type_id,card_txn_subtype_id,fare_product_type_id,txn_timestamp,entry_zone,zone_no,line_no,txn_amt,xfer_code,xfer_disc
0,0,1,2,0,2019-06-22 14:55:25,1,1,6240,0,1214,0.0
1,1,1,2,0,2019-06-22 13:18:09,2,2,6240,0,214,4.0
2,2,1,4,0,2019-06-22 13:18:26,2,2,6240,0,1414,0.0
3,3,1,2,0,2019-06-22 13:19:42,2,2,6240,0,214,4.0
4,4,1,1,0,2019-06-22 13:23:23,2,2,6240,15,1414,0.0
...,...,...,...,...,...,...,...,...,...,...,...
6858378,6858378,1,1,0,2019-06-05 00:29:26,1,1,503,15,1212,0.0
6858379,6858379,1,6,0,2019-06-05 00:33:52,1,1,503,6,112,6.0
6858380,6858380,1,6,0,2019-06-05 00:33:53,1,1,503,6,112,6.0
6858381,6858381,1,6,0,2019-06-05 00:36:28,1,1,503,6,112,6.0
6858382,6858382,1,6,0,2019-06-05 00:22:06,1,1,503,12,112,0.0

In [25]:
df1=df.copy()

In [3]:
df1.drop(['sp_id','card_physical_id','bus_no','none','SrcUpdateTime','UpdateTime','InfoTime','InfoDate','area_code'], axis=1, inplace=True)
#丟掉不需要的欄位(節省跑的時間)，inplace=True不創建新對象

KeyError: "['sp_id' 'card_physical_id' 'bus_no' 'none' 'SrcUpdateTime' 'UpdateTime'\n 'InfoTime' 'InfoDate' 'area_code'] not found in axis"

In [ ]:
df1['txn_timestamp']=pd.to_datetime(df1['txn_timestamp'])
s=df1['txn_timestamp']
s.sort_values() #查看資料範圍

In [280]:
df1.to_csv('180501-0530_004.csv') #輸出縮減後檔案

In [26]:
df1['txn_timestamp']=df1['txn_timestamp'].astype(str)
df1['entry_zone']=df1['entry_zone'].astype(str)
df1['line_no']=df1['line_no'].astype(str)  #轉換格式才能相加

df1['new'] = df1['txn_timestamp'].str.slice(stop=10)+ "," + df1['entry_zone'] + "," +  df1['line_no']

df1_count=df1['new'].value_counts()

In [27]:
df_value_counts = pd.DataFrame(df1_count)
df_value_counts = df_value_counts.reset_index()
df_value_counts.columns = ['time_zone_line', 'counts']
df_value_counts.to_csv('D:/Traffic/bus/count/190604-0630_007.csv') #輸出count

In [591]:
s=df1_value_counts.to_dict('split')
a=str(s['data'][0][1])
a

NameError: name 'df1_value_counts' is not defined