In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv("new_taipei_ticket_001.csv", low_memory=False)

In [4]:
len(df)

7517129

In [7]:
df.columns = ['sp_id','card_physical_id','card_txn_type_id',
              'card_txn_subtype_id','fare_product_type_id','txn_timestamp',
              'entry_zone','zone_no','line_no','bus_no',
              'txn_amt','xfer_code','xfer_disc','area_code',
              'none','SrcUpdateTime','UpdateTime','InfoTime','InfoDate']
#給定欄位名稱
df

,sp_id,card_physical_id,card_txn_type_id,card_txn_subtype_id,fare_product_type_id,txn_timestamp,entry_zone,zone_no,line_no,bus_no,txn_amt,xfer_code,xfer_disc,area_code,none,SrcUpdateTime,UpdateTime,InfoTime,InfoDate
0,22,5B69C8926E42FD84F24BCED12044FAB3,1,4,0,2019-01-11 17:46:35,1,1,2990,6FF05AA63FD8FF11,0,1214,4.0,2,\N,2019-01-11 23:59:00,2019-08-30 08:35:57,2019-01-11 17:46:35,2019-01-11
1,22,DC0B3A2B6C18224D8F8DC10A7F147D9C,1,2,0,2019-01-11 17:48:27,1,1,2990,6FF05AA63FD8FF11,0,114,0.0,2,\N,2019-01-11 23:59:00,2019-08-30 08:35:57,2019-01-11 17:48:27,2019-01-11
2,22,7D5816F352E928A525C044C3D97BB99B,1,6,0,2019-01-11 18:01:53,1,1,2990,6FF05AA63FD8FF11,15,814,0.0,1,\N,2019-01-11 23:59:00,2019-08-30 08:35:57,2019-01-11 18:01:53,2019-01-11
3,22,F47AB7B6B1BC562BE573DE07BF33EF02,1,6,0,2019-01-11 18:19:35,2,2,2990,6FF05AA63FD8FF11,7,114,8.0,1,\N,2019-01-11 23:59:00,2019-08-30 08:35:57,2019-01-11 18:19:35,2019-01-11
4,23,0946584D05EB7A16F3BAD948933386B9,1,1,0,2019-01-11 07:38:54,1,2,487,920B19AAB4BD90B3,15,1212,0.0,1,\N,2019-01-11 23:59:00,2019-08-30 08:35:57,2019-01-11 07:38:54,2019-01-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7517124,33,406C51A2504DF3DA6FEC839DAF29E013,1,6,0,2019-01-07 12:57:54,1,1,1,F00D11EDE1C989FD,6,103,0.0,1,\N,2019-01-07 23:59:00,2019-08-30 08:35:45,2019-01-07 12:57:54,2019-01-07
7517125,33,F2BDFBB439E185645B1468568EB2C4FD,1,6,0,2019-01-07 12:57:46,1,1,1,F00D11EDE1C989FD,6,303,0.0,1,\N,2019-01-07 23:59:00,2019-08-30 08:35:45,2019-01-07 12:57:46,2019-01-07
7517126,33,BAC87CA7EA2F4A351CE3A1303DC0F97F,1,1,0,2019-01-07 12:14:53,1,1,1,F00D11EDE1C989FD,6,103,0.0,1,\N,2019-01-07 23:59:00,2019-08-30 08:35:45,2019-01-07 12:14:53,2019-01-07
7517127,33,05F8B2D649A7F98625C044C3D97BB99B,1,1,0,2019-01-07 12:14:56,1,1,1,F00D11EDE1C989FD,6,303,0.0,1,\N,2019-01-07 23:59:00,2019-08-30 08:35:45,2019-01-07 12:14:56,2019-01-07
7517128,33,7D58B3A5AEDFD8BC1CE3A1303DC0F97F,1,1,0,2019-01-07 12:57:56,1,1,1,F00D11EDE1C989FD,6,103,0.0,1,\N,2019-01-07 23:59:00,2019-08-30 08:35:45,2019-01-07 12:57:56,2019-01-07

In [8]:
df1=df.copy()

In [9]:
df1.drop(['sp_id','card_physical_id','bus_no','none','SrcUpdateTime','UpdateTime','InfoTime','InfoDate','area_code'], axis=1, inplace=True)
#丟掉不需要的欄位(節省跑的時間)，inplace=True不創建新對象

In [ ]:
df1['txn_timestamp']=pd.to_datetime(df1['txn_timestamp'])
s=df1['txn_timestamp']
s.sort_values() #查看資料範圍

In [280]:
df1.to_csv('180501-0530_004.csv') #輸出縮減後檔案

In [26]:
df1['txn_timestamp']=df1['txn_timestamp'].astype(str)
df1['entry_zone']=df1['entry_zone'].astype(str)
df1['line_no']=df1['line_no'].astype(str)  #轉換格式才能相加

df1['new'] = df1['txn_timestamp'].str.slice(stop=10)+ "," + df1['entry_zone'] + "," +  df1['line_no']

df1_count=df1['new'].value_counts()

In [27]:
df_value_counts = pd.DataFrame(df1_count)
df_value_counts = df_value_counts.reset_index()
df_value_counts.columns = ['time_zone_line', 'counts']
df_value_counts.to_csv('D:/Traffic/bus/count/190604-0630_007.csv') #輸出count